      /*Animations*/

/*Animations taken from the internet*/
/*sources*/

/*https://www.sliderrevolution.com/resources/css-text-animation/*/
/*https://wpdean.com/css-text-animation/*/

@keyframes glow {
    from {
      text-shadow: 0 0 20px #44107a;
    }
    to {
      text-shadow: 0 0 50px #ff1361, 0 0 10px #fff800;
    }
  }

.header {
    text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     #231557 0%,
     #44107a 29%,
     #ff1361 67%,
     #fff800 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
 }
 
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
 }

 @keyframes colorSwitch {
    0% {
        filter: grayscale(0); /* Full color */
    }
    50% {
        filter: grayscale(100%); /* Full black and white */
    }
    100% {
        filter: grayscale(0); /* Back to full color */
    }
}

@keyframes rainbowEffect {
    0% { filter: hue-rotate(0deg); }
    20% { filter: hue-rotate(72deg); }
    40% { filter: hue-rotate(144deg); }
    60% { filter: hue-rotate(216deg); }
    80% { filter: hue-rotate(288deg); }
    100% { filter: hue-rotate(360deg); }
  }